#!/usr/bin/make -f
# debian/rules that uses debhelper. 
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.
#
# Author: Berkan Eskikaya <berkan@runtime-collective.com>, 2004
#
# $Id: rules,v 1.1.1.1 2004/11/12 09:30:00 fabrice Exp $

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build.xml:
	dh_testdir
	# Add here commands to configure the package.
	@sh debian/ccm-config.sh

build: build-stamp
build-stamp: build.xml
	dh_testdir

	# Add here commands to compile the package.
	@sh debian/ccm-build.sh

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	@sh debian/ccm-clean.sh

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/<packagename>.
	@sh debian/ccm-install.sh $(CURDIR)/debian/tmp
	@sh debian/ccm-build-bundles.sh

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	@sh debian/ccm-disperse.sh debian/tmp
#	dh_install --sourcedir=debian/tmp
#	dh_installmenu
	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
