Package: ccm-docmgr
Version: 6.3.0-20
Section: contrib/web
Priority: optional
Architecture: all
Depends: java-virtual-machine-dummy | j2sdk1.4 | java-virtual-machine, ccm-tools, ccm-servlet-container, libservlet2.3-java, libpgjava, liblog4j1.2-java, ccm-core, ccm-cms, ccm-ldn-navigation, ccm-cms-types-article, ccm-cms-types-mparticle
Installed-Size: 756
Maintainer: Runtime Packaging <runtime-packaging@runtime-collective.com>
Description: APLAWS: Document Manager application.
 .
 FIXME: We need a longer and more meaningful description here.
