div.action-link, div.action-link div {
  float: left;
}

div.action-link {
  margin: 1px;
  border: 1px solid red;
  padding: 1px;
}

div.action-link div.link-icon {
  height: 14;
  width: 14;
  margin-right: 3px;
  background: white url(action-generic.png) no-repeat;
}
