<?xml version="1.0" encoding="utf-8"?>
<registry>
    <config class="com.arsdigita.cms.contenttypes.SciInstituteConfig"
            storage="ccm-sci-types-institute/sciinstitute.properties"/>
    <config class="com.arsdigita.cms.contenttypes.ui.SciInstituteSummaryTabConfig" 
            storage="ccm-sci-types-department/summarytab.properties"/>
    <config class="com.arsdigita.cms.contenttypes.ui.SciInstituteMembersTabConfig" 
            storage="ccm-sci-types-department/memberstab.properties"/>
    <config class="com.arsdigita.cms.contenttypes.ui.SciInstituteProjectsTabConfig"
            storage="ccm-sci-types-department/projectstab.properties"/>
    <config class="com.arsdigita.cms.contenttypes.ui.SciInstitutePublicationsTabConfig"
            storage="ccm-sci-types-department/publicationstab.properties"/>
</registry>
