<?xml version="1.0" encoding="utf-8"?>
<registry>
    <config class="com.arsdigita.cms.contenttypes.SciInstituteConfig"
            storage="ccm-sci-types-institute/sciinstitute.properties"/>
  <!--  <config class="com.arsdigita.cms.contenttypes.ui.SciInstituteSummaryTabConfig" 
            storage="ccm-sci-types-institute/summarytab.properties"/> -->
</registry>
