/* 
    Copyright: 2011 Sören Bernstein
               2014 Jens Pelzetter
*/

.ym-wrapper { 
    width: 980px
}

header {
    background-color: #fff;
}

header .ym-wrapper .ym-wbox {
    padding-top: 0;
}

header .headerMenu {
    height: 40px;
    background-image: -moz-linear-gradient(center top , #56A1BD 5%, #0976A0 95%);
    background-color: #0776A0;
    box-shadow: 0px 0px 10px 0px;
    font-size: 10pt;
    font-variant: small-caps;
}

header .languageSelector {
    color: #fff;
    margin-top: 10px;
}

header .languageSelector .languageEntry {
    padding-right: 0.5em;
}

header .languageSelector .selected{
    font-weight: bold;
}

header .languageSelector a {
    color: #fff;
    text-decoration: none;
}

header #topMenu {
    margin-top: 10px;
}

header #topMenu .separator {
    padding-left: 2em;
}

header #topMenu a {
    color: #fff;
    text-decoration: none;
    
}

header #logoNav {
    height: 125px;
}

header #logoNav .ym-wbox {
    padding: 1em;
}

header .siteLogo {
    margin: 1.25em
}

header .siteTitle {
    display: block;
    padding-top: 15px;
    font-family: 'Title', serif;
    font-size: 30pt;
    font-variant: small-caps;
    color: #0776A0;
    text-align: left;
}

header nav.ym-hlist {
    color: #4A4A4A;
    background-color: #fff;
    font-family: 'TextCond', sans-serif;
    font-size: 12pt;
    font-variant: small-caps;
    text-align: right;
}

header nav.ym-hlist a{
    color: #77767E;
    text-shadow: none;
}

/* Farben */
h1, h2, h3,
#header .siteTitle,
.relatedLinks .CIname,
ul.sitemap a
{ /* Blau */
  /*color: #0776a0;*/
}

#header .menu
{ /* Blau */
  /*background-color: #0776a0;*/
}

#eventList .day
{ /* helles Blau */
  /*color: #3aa6d0;*/
}

#contentWrap .navigation li > a:hover,
#contentWrap .navigation li > a:focus,
#contentWrap .navigation li > a:active,
#itemList h2,
#itemList .CIname,
#events h2,
#events .CIname,
#eventList .month,
a
{ /* Dunkles Orange */
  /*color: #ff7600;*/
}

#itemList ul li,
#events ul li
{ /* Dunkles Orange */
  /*border-color: #ff7600 !important;*/
}

#nav li a:focus,
#nav li a:hover,
#nav li.menulevel_1.selected > a,
#nav li.selected > span,
#content a:hover, #content a:focus, #content a:active
{ /* Orange */
  /*color: #ff9200;*/
}

#contentWrap .navigation li.selected > span
{ /* Helles Orange */
  /*background-color: #ff9840;*/
}

#header .languageSelector a:hover,
#header .languageSelector a:focus,
#header .languageSelector a:active,
#topMenu a:hover,
#topMenu a:focus,
#topMenu a:active,
#footer a:hover,
#footer a:focus,
#footer a:active
{ /* Helles Orange */
  /*color: #ff9840;*/
}

body,
#contentWrap .navigation,
#contentWrap .navigation a
{ /* Dunkles Dunkelgrau*/
  /*color: #4a4a4a;*/
}

#footer
{ /* Dunkles Dunkelgrau*/
  /*background-color: #4a4a4a;*/
}


#contentWrap .navigation li > a:hover,
#contentWrap .navigation li > a:focus,
#contentWrap .navigation li > a:active
{ /* Mittelgrau */
  /*background-color: #7f7f7f;*/
}

#nav li.menulevel_1.selected > a > span,
#nav li.selected > span > span
{ /* helles Hellgrau 1 */
  /*background-color: #e7e6ee;*/
}

#header a
{ /* helles Hellgrau 1 */
  /*color: #e7e6ee;*/
  /*color: #77767e;*/
}

#itemList ul,
#events ul,
.sectionList
{ /* helles Hellgrau 1 */
  /*border-color: #e7e6ee !important;*/
}

#contentWrap .navigation li.selected
{ /* helles Hellgrau 2 */
  /*color: #f8f6ff;*/
}

#contentWrap .navigation,
#contentWrap #itemList ul,
#contentWrap #events ul,
.sectionList
{ /* helles Hellgrau 2 */
  /*background-color: #f8f6ff;*/
}

.languageSelector,
#header .languageSelector a,
#topMenu,
#topMenu a,
#footer,
#footer a
{ /* Weiß */
  /*color: #ffffff;*/
}

#header .headerContent
{
  /*border-color: #f8f6ff;*/
}

.filterControls fieldset {
    /*border-color: #0776a0;*/
}


/* Farben Ende */

/* Schriften */
@font-face {
    font-family: 'Text';
    src: url('../../fonts/PTS55F-webfont.eot');
    src: url('../../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTS55F-webfont.woff') format('woff'),
         url('../../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Text';
    src: url('../../fonts/PTS56F-webfont.eot');
    src: url('../../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTS56F-webfont.woff') format('woff'),
         url('../../fonts/PTS56F-webfont.ttf') format('truetype'),
         url('../../fonts/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Text';
    src: url('../../fonts/PTS75F-webfont.eot');
    src: url('../../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTS75F-webfont.woff') format('woff'),
         url('../../fonts/PTS75F-webfont.ttf') format('truetype'),
         url('../../fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Text';
    src: url('../../fonts/PTS76F-webfont.eot');
    src: url('../../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTS76F-webfont.woff') format('woff'),
         url('../../fonts/PTS76F-webfont.ttf') format('truetype'),
         url('../../fonts/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TextCond';
    src: url('../../fonts/PTN57F-webfont.eot');
    src: url('../../fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTN57F-webfont.woff') format('woff'),
         url('../../fonts/PTN57F-webfont.ttf') format('truetype'),
         url('../../fonts/PTN57F-webfont.svg#pt_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextCond';
    src: url('../../fonts/PTN77F-webfont.eot');
    src: url('../../fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTN77F-webfont.woff') format('woff'),
         url('../../fonts/PTN77F-webfont.ttf') format('truetype'),
         url('../../fonts/PTN77F-webfont.svg#pt_narrowbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caption';
    src: url('../../fonts/PTC55F-webfont.eot');
    src: url('../../fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTC55F-webfont.woff') format('woff'),
         url('../../fonts/PTC55F-webfont.ttf') format('truetype'),
         url('../../fonts/PTC55F-webfont.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caption';
    src: url('../../fonts/PTC75F-webfont.eot');
    src: url('../../fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/PTC75F-webfont.woff') format('woff'),
         url('../../fonts/PTC75F-webfont.ttf') format('truetype'),
         url('../../fonts/PTC75F-webfont.svg#pt_sans_captionbold') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Title';
    src: url('../../fonts/TrajanPro-Regular.eot');
    src: url('../../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TrajanPro-Regular.woff') format('woff'),
         url('../../fonts/TrajanPro-Regular.ttf') format('truetype'),
         url('../../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Special';
    src: url('../../fonts/Georgia-webfont.eot');
    src: url('../../fonts/Georgia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Georgia-webfont.woff') format('woff'),
         url('../../fonts/Georgia-webfont.ttf') format('truetype'),
         url('../../fonts/Georgia-webfont.svg#Georgia-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


