# Main apps
ccm-core
ccm-cms

# Content assets
ccm-cms-assets-fileattachment
ccm-cms-assets-imagestep
ccm-cms-assets-notes
ccm-cms-assets-relatedlink
## -- ccm-ldn-dublin  ist das eigentlich ein asset?

# Content types
#ccm-cms-types-address
ccm-cms-types-article
ccm-cms-types-bookmark
#ccm-cms-types-contact
ccm-cms-types-faqitem
ccm-cms-types-filestorageitem
ccm-cms-types-formitem
ccm-cms-types-formsectionitem
#ccm-cms-types-glossaryitem
#ccm-cms-types-image
#ccm-cms-types-member
ccm-cms-types-mparticle
ccm-cms-types-newsitem

# Applications
ccm-bookmarks
#ccm-docmgr
ccm-forum
#ccm-user-preferences

# LDN extensions
ccm-ldn-navigation
ccm-ldn-portal
ccm-ldn-rss
ccm-ldn-search
ccm-ldn-shortcuts
ccm-ldn-subsite
ccm-ldn-terms
ccm-ldn-theme
ccm-ldn-util

ccm-sci-publications

# integration layer app
ccm-gen-aplaws

