Source: ccm-cms-types-pressrelease
Section: contrib/web
Priority: optional
Maintainer: Runtime Packaging <runtime-packaging@runtime-collective.com>
Uploaders: David Pashley <david@runtime-collective.com>
Build-Depends-Indep: debhelper (>= 4.0.0), j2re1.4 | java2-runtime, j2sdk1.4 | java2-compiler, ant, libservlet2.3-java, libpgjava, debconf, po-debconf, ccm-tools, ccm-devel, ccm-scripts, ccm-core, ccm-cms
Standards-Version: 3.6.1

Package: ccm-cms-types-pressrelease
Architecture: all
Depends: java-virtual-machine-dummy | j2sdk1.4 | java-virtual-machine, ccm-tools, ccm-servlet-container, libservlet2.3-java, libpgjava, liblog4j1.2-java , ccm-core, ccm-cms
Description: APLAWS: 
 This package contains the Red Hat CCM Content Types application for APLAWS.
 .
 FIXME: We need a longer and more meaningful description here.

Package: ccm-cms-types-pressrelease-doc
Architecture: all
Depends: ccm-tools
Description: Documentation for ccm-cms-types-pressrelease
 Documentation for ccm-cms-types-pressrelease. Provides the JavaDoc API documentation.
