Source: ccm-ldn-aplaws
Section: contrib/web
Priority: optional
Maintainer: Runtime Packaging <runtime-packaging@runtime-collective.com>
Uploaders: David Pashley <david@runtime-collective.com>
Build-Depends-Indep: debhelper (>= 4.0.0), j2re1.4 | java2-runtime, j2sdk1.4 | java2-compiler, ant, libservlet2.3-java, libpgjava, debconf, po-debconf, ccm-tools, ccm-devel, ccm-scripts, ccm-cms, ccm-core, ccm-ldn-navigation, ccm-ldn-portal, ccm-ldn-subsite, ccm-ldn-terms
Standards-Version: 3.6.1

Package: ccm-ldn-aplaws
Architecture: all
Depends: java-virtual-machine-dummy | j2sdk1.4 | java-virtual-machine, ccm-tools, ccm-servlet-container, libservlet2.3-java, libpgjava, liblog4j1.2-java , ccm-core, ccm-cms, ccm-ldn-subsite, ccm-ldn-portal, ccm-ldn-terms, ccm-ldn-navigation, ccm-cms-types-article
Description: APLAWS: APLAWS integration application. 
 This package contains the APLAWS application for APLAWS.
 .
 FIXME: We need a longer and more meaningful description here.

Package: ccm-ldn-aplaws-doc
Architecture: all
Depends: ccm-tools
Description: Documentation for ccm-ldn-aplaws
 Documentation for ccm-ldn-aplaws. Provides the JavaDoc API documentation.
