<?xml version="1.0" encoding="utf-8"?>
<registry>
    <config class="com.arsdigita.cms.contenttypes.SciDepartmentConfig"
            storage="ccm-sci-types-department/scidepartment.properties"/>
  <!--  <config class="com.arsdigita.cms.contenttypes.ui.SciDepartmentSummaryTabConfig" 
            storage="ccm-sci-types-department/summarytab.properties"/> -->
</registry>
