<?xml version="1.0" encoding="utf-8"?>
<registry>
   <config class="com.arsdigita.cms.ContentSectionConfig"
           storage="ccm-cms/cms.properties"/>
   <config class="com.arsdigita.cms.lifecycle.LifecycleConfig"
           storage="ccm-cms/lifecycle.properties"/>
   <config class="com.arsdigita.cms.publishToFile.PublishToFileConfig"
           storage="ccm-cms/publishToFile.properties"/>
   <config class="com.arsdigita.cms.contenttypes.GenericAddressConfig"
           storage="ccm-cms/contenttypes.properties"/>
   <config class="com.arsdigita.cms.contenttypes.GenericContactConfig"
           storage="ccm-cms/contenttypes.properties"/>
</registry>
