# NSH application.cfg
# Main apps
ccm-core
ccm-cms

# Content assets
ccm-cms-assets-fileattachment
ccm-cms-assets-imagestep
ccm-cms-assets-notes
ccm-cms-assets-relatedlink
# is ccm-ldn-dublin really an asset?
## -- ccm-ldn-dublin

# Content types
# -- ccm-cms-types-address
# -- ccm-cms-types-agenda
ccm-cms-types-article
ccm-cms-types-bookmark
# -- ccm-cms-types-contact
ccm-cms-types-event
ccm-cms-types-faqitem
ccm-cms-types-filestorageitem
ccm-cms-types-formitem
ccm-cms-types-formsectionitem
ccm-cms-types-glossaryitem
# -- ccm-cms-types-member
ccm-cms-types-mparticle
ccm-cms-types-newsitem
ccm-cms-types-simpleaddress

# Applications
# -- ccm-docmgr
ccm-forum
ccm-forum-categorised
ccm-themedirector
ccm-user-preferences

# LDN extensions
ccm-ldn-navigation
ccm-ldn-portal
ccm-ldn-rss
ccm-ldn-search
ccm-ldn-shortcuts
ccm-ldn-subsite
ccm-ldn-terms
ccm-ldn-util

# integration layer app
ccm-gen-aplaws

