<?xml version="1.0" encoding="utf-8"?>
<registry>
    <config class="com.arsdigita.cms.contenttypes.PublicationsConfig" storage="ccm-sci-publications/publications.properties"/>
    <config class="com.arsdigita.cms.contenttypes.ProeccedingsConfig" storage="ccm-sci-publications/proceedings.properties"/>
    <config class="com.arsdigita.cms.scipublications.importer.ris.RisImporterConfig" storage="ccm-sci-publications/ris_importer.properties"/>
</registry>
