body {
    background: white;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
}

td {
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: arial, helvetica;
    font-size: x-small;
}

p {
    font-family: georgia, arial, helvetica;
    font-size: x-small;
}

th {
    font-family: arial, helvetica;
    text-align: left;
    padding-left: 8px;
    font-size: x-small;
    background-color: #878175;
    color: white;
}

h1 {
    font-family: arial, helvetica;
    font-weight: bold;
    margin-bottom: 4px;
}

h2 {
    font-family: arial, helvetica;
    font-size: small;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
}

pre {
    display:        block;
    font-family:    monospace;
    white-space:    pre;
    margin:         0%;
    padding-top:    0.5ex;
    padding-bottom: 0.5ex;
    padding-left:   1ex;
    padding-right:  1ex;
    width:          100%;
}

pre.programlisting {
    background: WhiteSmoke;
    color:  black;
    border: 1px solid black;
}
