<?xml version="1.0" encoding="utf-8"?>
<registry>
   <config class="com.arsdigita.london.search.SearchConfig"
           storage="ccm-ldn-search/search.properties"/>
   <config class="com.arsdigita.london.search.spider.SpiderConfig"
           storage="ccm-ldn-search/spider.properties"/>
</registry>
