Package: ccm-bookmarks-doc
Version: 6.3.0-4
Section: contrib/web
Priority: optional
Architecture: all
Depends: ccm-tools
Installed-Size: 800
Maintainer: Runtime Packaging <runtime-packaging@runtime-collective.com>
Source: ccm-bookmarks
Description: Documentation for ccm-bookmarks
 Documentation for ccm-bookmarks. Provides the JavaDoc API documentation.
