Package: ccm-weblog-doc
Version: 6.3.0-1
Section: contrib/web
Priority: optional
Architecture: all
Depends: ccm-tools
Installed-Size: 912
Maintainer: Runtime Packaging <runtime-packaging@runtime-collective.com>
Source: ccm-weblog
Description: Documentation for ccm-weblog
 Documentation for ccm-weblog. Provides the JavaDoc API documentation.
