<?xml version="1.0" encoding="utf-8"?>
<registry>
   <config class="com.arsdigita.london.terms.TermsConfig"
           storage="ccm-ldn-terms/terms.properties"/>
   <config class="com.arsdigita.london.terms.indexing.IndexingConfig"
           storage="ccm-ldn-terms/indexing.properties"/>
</registry>
