/* 
CSS styles for the portal workspace 
Only for putting the columns in the right place.
*/

div#workspace div.portalColumn {
    
    float: left;
    
}

div#workspace div.portalColumn:last-child {
    float: right;
}

div#workspace div.editPortlet:hover {
    
    /*border: 1px solid #ccc;*/
    
    background-color: #eee;
    
}

div#workspace div.moveLeft.disabled img {
    opacity: 0.25;
}