/* 
    Copyright: 2011 Sören Bernstein
*/

 
#content {
	width: 596px;
	margin-top: 0px;
	margin-bottom: 50px;
	padding-right: 10px;
	text-align: left;
	position: absolute;
	left: 200px;
	padding-left: 15px;
	top: 128px;
	padding-top: 0px;
	background-color: #FFFFFF;
}


#content.colorset_1 {
	text-align: left;
	position: relative;

}

#content #colorset_2 {
	
	text-align: left;
	background-color: #FFD700;
	position: relative;

}

#content #colorset_3 {	
	text-align: left;
	background-color: #FDFAD7;
	position: relative;
}


#menu {
	position: absolute;
	margin-top: 18px;
	
	}
