div.tabbed-pane div, div.tabbed-pane table.tab-set, div.tabbed-pane table.tab-set td {
  margin: 0;
  border: 0;
  padding: 0;
}

div.tabbed-pane table {
  border-collapse: collapse;
}

div.tabbed-pane table.tab-set {
  margin-left: 6px;
}

div.tabbed-pane table.tab-set a {
  text-decoration: none;
  color: rgb(63,63,63);
}

div.tabbed-pane table.tab-set td.tab-label {
  margin-left: 4px;
  padding: 5px 0 3px 10px;
  font-size: x-small;
  background: rgb(225,225,225) url(tab-unselected.png) no-repeat;
}

div.tabbed-pane table.tab-set td.tab-end {
  width: 10px;
  background: url(tab-unselected-end.png) no-repeat;
}

div.tabbed-pane table.tab-set td.current-tab-label {
  margin-left: 4px;
  padding: 5px 0 3px 10px;
  background: rgb(162,30,30) url(tab-selected.png) no-repeat;
  color: white;
}

div.tabbed-pane table.tab-set td.current-tab-end {
  width: 10px;
  background: url(tab-selected-end.png) no-repeat;
}

div.tabbed-pane table.tab-set td.tab-spacer {
  width: 4px;
}

div.tabbed-pane table.rule {
  width: 100%;
  background: rgb(162,30,30) url(tab-bar.png) repeat-x;
  height: 10px;
}

div.tabbed-pane div.current-pane {
  width: 100%;
}
