@import url("/themes/heirloom/css/acs-master.css");

body, td, th, div, p {
        font-family: sans-serif;
        font-size: 12px;
        cursor: default;
}
body {
        color: #000;
        padding: 0;
        margin: 0;
        /* background: #fff url(/img/bg-drift.gif) top repeat-x; */
        background-color: #fff;
}

table.details-2-columns {
        padding: 4;
        border: none;
}

table.details {
  margin: 0 2%;
}

.details th {
        padding: 8px;
        padding-left: 16px;
        border: none;
        color: #444;
        text-align: right;
        vertical-align: top;
        border: 1px solid #ddd;
        border:none;
        background-color: #eee;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-bottomleft: 15px;
}

.details th.required-form-field {
  border-right: 4px solid #c77;
}

.details td {
        vertical-align: top;
        padding: 4px;
        padding-left: 2px;
        padding: 8px;
        border-bottom: 0;
}

.details th + td {
        border-bottom: 1px solid #ddd;
}

.details td div {
        text-align: left;
        margin-bottom: 10px;
        white-space: nowrap;
}

.details td table td {
        margin: 0;
        padding: 0;
        border: 0;
}

.details td table {
}

table.details td.small-form textarea {
        font-size: 10px;
        font-family: monospace;
}

.details-header {
        font-weight: bold;
        /*
        */
        color: #444;
        font-family: helvetica;
}

td.heading_cell {
       font-size: 12px;
       font-weight: bold;
       font-family: sans-serif;
       color:#999;
       border-bottom: 2px solid #ccc;  
}

table.sitemaplinks {
       border-top: 2px double #aaa;
}

table.sitemapdelete {
       border-top: 2px double #aaa;
}

table.sitemapdeleteappstable {
       border: 2px double #aaa;
}

tr.deleteeven {
       background-color: #fff;
}

tr.deleteodd {
       background-color: #eee;
}
