Source: ccm-ldn-xmlfeed
Section: contrib/web
Priority: optional
Maintainer: Runtime Packaging <runtime-packaging@runtime-collective.com>
Uploaders: David Pashley <david@runtime-collective.com>
Build-Depends-Indep: debhelper (>= 4.0.0), j2re1.4 | java2-runtime, j2sdk1.4 | java2-compiler, ant, libservlet2.3-java, libpgjava, debconf, po-debconf, ccm-tools, ccm-devel, ccm-scripts, ccm-core, ccm-cms, ccm-cms-types-formsectionitem, ccm-cms-types-formitem
Standards-Version: 3.6.1

Package: ccm-ldn-xmlfeed
Architecture: all
Depends: java-virtual-machine-dummy | j2sdk1.4 | java-virtual-machine, ccm-tools, ccm-servlet-container, libservlet2.3-java, libpgjava, liblog4j1.2-java , ccm-core, ccm-cms, ccm-cms-types-formsectionitem, ccm-cms-types-formitem
Description: APLAWS: Formbuilder content type that lets you make requests to remote sites and style the returned XML. 
 This package contains the XML Feed application for APLAWS.
 .
 FIXME: We need a longer and more meaningful description here.

Package: ccm-ldn-xmlfeed-doc
Architecture: all
Depends: ccm-tools
Description: Documentation for ccm-ldn-xmlfeed
 Documentation for ccm-ldn-xmlfeed. Provides the JavaDoc API documentation.
