/* Dieses CSS ist für alle Standard-konformen Browser (Gecko, Safari) */

/* Erlaubte Techniken / Befehle:

   - Alle Techniken / Befehle aus basic.css
     und zusätzlich:

   - HTML-Formate (CSS 2.0 - Standard, Wildcards erlaubt, aber IE hat Probleme mit +, > )
   - Attributbedingte Formate ([attr]) (nicht für IE)
   - Pseudoformate für alle Elemente (:active...) (nicht für IE)
   - Positionsangebe fixed (nicht für IE)
   - Größenangaben min-/max-width, min-/max-height (nicht für IE)
   -

*/

/* Allgemeine Seitenangaben nach CSS 2.0 */
@page {
        orphans:  2;
        widows:   2;
}

/* Info */
#info {
	min-width: 10px !important;
	width:     auto !important;
	max-width: 180px !important;
}

/* Content */
#image {
	width:     auto;
	max-width: 7cm !important;
}

/* Formulare */
form #group , form #select , form #section{
        page-break-inside: avoid;
}