<?xml version="1.0" encoding="utf-8"?>
<registry>
<config class="com.arsdigita.cms.contenttypes.SciProjectConfig"
storage="ccm-sci-types-project/sciproject.properties"/>
<config class="com.arsdigita.cms.contenttypes.ui.SciProjectSummaryTabConfig"
storage="ccm-sci-types-project/summarytab.properties"/>
</registry>
