<?xml version="1.0" encoding="utf-8"?>
<registry>
   <!-- Config specifies the name of the class which handles configuration
        properties and the directory and file name of the config parameters
        in registry.                                                         -->
   <!--  currently nothing to config
   <config class="com.arsdigita.bundle.BundleConfig"
         storage="ccm-sci-bundle/bundle.properties"/>
   -->

</registry>
