<?xml version="1.0" encoding="utf-8"?>
<registry>
<config class="com.arsdigita.cms.contenttypes.PublicPersonalProfileConfig"
	storage="ccm-cms-publicpersonalprofile/profile.properties"/>
<config class="com.arsdigita.cms.publicpersonalprofile.PublicPersonalProfileConfig"
	storage="ccm-cms-publicpersonalprofile/navigation.properties"/>
</registry>
