<?xml version="1.0" encoding="utf-8"?>
<registry>
   <config class="com.arsdigita.bebop.BebopConfig"
           storage="ccm-core/bebop.properties"/>
   <config class="com.arsdigita.categorization.CategorizationConfig"
           storage="ccm-core/categorization.properties"/>
   <config class="com.arsdigita.dispatcher.DispatcherConfig"
           storage="ccm-core/dispatcher.properties"/>
   <config class="com.arsdigita.domain.DomainConfig"
           storage="ccm-core/domain.properties"/>
   <config class="com.arsdigita.formbuilder.FormBuilderConfig"
           storage="ccm-core/formbuilder.properties"/>
   <config class="com.arsdigita.globalization.GlobalizationConfig"
           storage="ccm-core/globalization.properties"/>
   <config class="com.arsdigita.kernel.KernelConfig"
           storage="ccm-core/kernel.properties"/>
   <config class="com.arsdigita.kernel.security.SecurityConfig"
           storage="ccm-core/security.properties"/>
   <config class="com.arsdigita.mail.MailConfig"
           storage="ccm-core/mail.properties"/>
   <config class="com.arsdigita.notification.NotificationConfig"
           storage="ccm-core/notification.properties"/>
   <config class="com.arsdigita.profiler.ProfilerConfig"
           storage="ccm-core/profiler.properties"/>
   <config class="com.arsdigita.runtime.RuntimeConfig"
           storage="ccm-core/runtime.properties"/>
   <config class="com.arsdigita.search.SearchConfig"
           storage="ccm-core/search.properties"/>
   <config class="com.arsdigita.search.lucene.LuceneConfig"
           storage="ccm-core/lucene.properties"/>
   <config class="com.arsdigita.search.intermedia.IntermediaConfig"
           storage="ccm-core/intermedia.properties"/>
   <config class="com.arsdigita.templating.TemplatingConfig"
           storage="ccm-core/templating.properties"/>
   <config class="com.arsdigita.ui.UIConfig"
           storage="ccm-core/ui.properties"/>
   <!--<config class="com.arsdigita.util.SystemInformation"
           storage="ccm-core/systeminformation.properties"/>-->
   <config class="com.arsdigita.versioning.VersioningConfig"
           storage="ccm-core/versioning.properties"/>
   <config class="com.arsdigita.web.WebConfig"
           storage="ccm-core/web.properties"/>
   <config class="com.arsdigita.workflow.simple.WorkflowConfig"
           storage="ccm-core/workflow.properties"/>
   <config class="com.arsdigita.xml.XMLConfig"
           storage="ccm-core/xml.properties"/>
   <config class="com.arsdigita.xml.formatters.DateFormatterConfig"
           storage="ccm-core/date-formatter.properties"/>
</registry>
