body {
	margin:0px;
	padding:0px;
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular ;
	font-size: 12px; 
	line-height: 16px; 
	color: black;
	background-color:white;
	}
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:#ccc;
	text-align:right;
	}
h2 {
	margin:0px 0px 10px 0px;
	padding:0px;
	font-size:20px;
	line-height:20px;
	font-weight:500;
	color:#ccc;
	}
p {
	margin:0px 0px 4px 0px;
	padding:0px; 
	text-align:justify;
	}


/* Standardformatierung fuer TABELLEN     */
table { 
	margin : 10px 0px 5px 0px ;  
	border-width:1; 
	border-color:#000066; 
	border-style:solid; 
	}
	
th { 
	color: black; 
	font-weight: bold; 
	font-size: 12px; 
	line-height: 16px; 
	font-family: Verdana, Arial, Helvetica; 
	background-color:white ;
	 }
	
td { 
	color: black; 
	font-weight: 500 ; 
	font-size: 10px; 
	line-height: 14px; 
	font-family: Verdana, Arial, Helvetica; 
	background-color: white ;
	 }

li {
/*	font:12px/14px verdana, arial, helvetica, sans-serif;   */
	margin:0px 0px 2px 0px;
	padding:0px;
	}


dl {
	 margin: 0px 0px 0px 0px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	}
dt {
	 margin: 0px 0px 0px 0px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	 font-weight:600;
	}
dd {
	 margin: 0px 0px 0px 10px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	}
	
a {
	color:#09c;
	font-size:12px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
	
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

/* ---------------------- Accessibility Styles -------------------------------- */
.hide {display:none}

.navHide {
	position: absolute;
	left: -1000px;
	width: 990px;
	font-size:1px; 
}

/* ---------------------- Header with logo's etc    --------------------------- */
#header {
/*	position:fixed;
	top:0px;
	left:0px;
	width:990px;   */
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-style:none;
	border-color:black;
	border-width:0px 0px; /* top and bottom borders: 1px; left and right borders: 1px */
	line-height:0px;
	background-color:#fff;
	background-image:url("../../images/header_center.jpg"); background-repeat: repeat-x;	
	height:99px; 
	}
	
#header div.logo {
        z-index:10;
        position:absolut;
        top:0px; 
        left:0px;
        }

#header div.printlogo {
        display:none;
        z-index:10;
        position:absolut;
        top:0px; 
        left:0px;
        }

#header div.head {
        z-index:50; 
        position:absolute; 
        top:0px; 
        right:0px;
        }
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct
length values to user agents that exhibit the parsing error exploited above yet get
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). *//*
body>#header {height:105px;} */


/* ------------ Sub-Header with navigation help and additional info  -------------- */
#subheader {
/*	position:fixed;
	top:2px;
	left:2px;
	width:990px;   */
	margin:0px 8px 0px 120px;
	padding:0px 0px 0px 0px;
	border-style:solid;
	border-top-color:#EE0000;
	border-bottom-color:#FF8877;
	border-top-width:3px ; /* top and bottom borders: 1px; left and right borders: 1px */
	border-right-width:0px ; /* top and bottom borders: 1px; left and right borders: 1px */
	border-bottom-width:0px ; /* top and bottom borders: 1px; left and right borders: 1px */
	border-left-width:0px ; /* top and bottom borders: 1px; left and right borders: 1px */
	line-height:1px;
	background-color:#FFFFFF;
	height:45px; 
	left: 0px ;
	vertical-align:middle;
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct
length values to user agents that exhibit the parsing error exploited above yet get
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
/*  body>#subheader {height:45px;}  */

.breadcrumbs {
	 float:left;
	 border: 0px dashed grey ;
	 margin: 10px;
	 /* background : #FFFFCC ;  */
	 width:70%;
	 height:100%;
	}

.quicksearch {
	 float:right;
	 border: 0px dashed grey ;
	 margin: 0px;
         padding: 0px;
	 /* background : #F5F5DC ;  */
	 height:100%;
	 right: 0px ;
/*	 font-size:11px; */
	 vertical-align:middle;
	}

.quicksearchBox {
/*         float: right; */
/*         text-align: right; */
         margin: 0px;
         padding: 0px;
         font-size:11px;
         font-weight: 600;
         color: #09c;
         background-color: #fff;
         border: 0px solid #999;
         border-bottom: 1px solid #999;
        }

.go {
         font-size: 0.7em; 
         font-weight: normal; 
         margin-right: 10px;
         padding: 0px;
        }


/* ---------------------- Menu box left side with logo's etc    ------------------- */
#menu {
	position: absolute;
	top:99px;
	left:0px;
	margin:0px,0px,0px,0px;  
	padding:75px 5px 5px 5px;
	border:0px dashed #999;
	border-top:0px ;
	border-left:0px ;
/*	background-color:#fff;  */
	background-image:url("../../images/menu.jpg"); background-repeat: repeat-y;
	/* height:600px;      */
	/* line-height:16px;  */
	width:163px;
	}
/* Again, "be nice to Opera 5". 
body>#menu {width:158px;}  */

#menuEnd {
        margin:0px;
        padding:0px;
        border:0px;
        width:120px;
        position: relative;
        bottom:-5px;
        left:-5px;

}

#menu ul	{
	 list-style-type:none;
	 margin			: 0px 0px 0px 0px ; 
	 padding		: 0px 0px 0px 0px  ;
	 text-align		: right ;
	}
 

#menu li	{
	 padding-left : 2em ;
	 margin:2px 0px 0px 0px;
	 padding:0px 0px 0px 0px;
	 border:1px solid #f7941d;
/*	 border:1px solid #ff9966; */
	} 

#menu li a	{
	 display:block;
	 color:black ;
	 background-color: #FF9966;
/*	 width				: 145px ;
	 padding			: 0.2em 0.4em ;  */
	 text-decoration	: none ;
	}

#menu li a:hover {
	 background-color: #faddba ;
/*	 margin:-1px;
	 border:1px dashed #000000; */
	}

#menu li.selected	{
	 display:block;
	 color:black ;
	 background-color: #faddba ;
	 border:1px solid #faddba;
	 text-decoration: none ;
	 font-size:11px;
         font-weight:700;
	}

#menu li.root {
	 display:block;
	 background-color: #dc0000 ;
	 color: white ;
	 font-size:11px;
	 font-weight:700;
	 margin :8px 0px 0px 0px; 
	 padding:0px 0px 0px 0px;
	 text-align: right;
	 border:1px solid #dc0000;
	}

#menu li.root a {
	 background-color: #dc0000 ;
	 color: white ;
	 text-decoration: none;
	}

#menu li.root a:hover {
         background-color: #ff3333 ;
	}

#menu li.rootSelected {
	 display:block;
	 background-color: #ff3333;
	 color: white ;
	 font-size:11px;
	 font-weight:700;
	 margin :8px 0px 0px 0px; 
	 padding:0px 0px 0px 0px;
	 text-align: right;
	 border:1px solid #ff3333;
	}

#menu li.rootSelected a {
	 color:white ;
	 background-color: #ff3333 ;
	}


/* Dynamische Submenues waeren nur mit Mozilla / Firefox / Konqueror und vergl. moeglich,
   Windows vielleicht in irgendeiner der naechtsten Versionen.
   Ein Menue mit festen Unterpunkten waere insgesamt weitaus zu lang. Das waere nur dann
   machbar, wenn die Untermenues auf Klick aufgeklappt werden und man sich per Session
   Variable den aktuellen Inhalt des content Bereichts merkt.
   Daher alle Submenues deaktiviert.
.menuItem {
  entspricht etwa Festlegungen unter ul bzw. li
	 padding-left : 2em ;
	 margin:0px 0px 2px 0px;
	 padding:0px;
	} 
	 
//  entspricht etwa Festlegungen unter li a
.menuItem a	{
	 display:block;
	 color:black ;
	 background-color: #f7941d;
	 width				: 145px ;
	 padding			: 0.2em 0.4em ;
	 text-decoration	: none ;
	}

div.menuItem a:hover {
	 background-color: #faddba ;
	}

 #subMenu {
	 position:relative;
	 top:0px;
	 left: 20px;  /* Menu ist als 165 breit angelegt, abzgl. Rand, dann ist 160 passend  / 
	 display: none;   
	 display: block; 
	 background: #FFFFCC ; 
	 border: 1px solid #000080;
	 color: #000; 
	 font: bold 8px Verdana,Arial; 
	 text-decoration: none;
	 width: 160px;  /* Menuitem (=li) ist auf 140 breite festgelegt, 160 gibt noch etwas Rand  /
	 z-index : 20;   
	} 
	
#subMenu ul	{
	 list-style-type:none;
	 margin			: 0px 0px 0px 0px ; 
	 padding		: 0px 0px 0px 0px  ;
	 text-align		: left ;
	}
 

#subMenu li	{
	 padding-left : 2em ;
	 margin:0px 0px 0px 0px;
	 padding:0px 0px 0px 0px;
	} 

#subMenu li a	{
	 display:block;
	 color:black ;
	 background-color: #f7941d;
	 width				: 145px ;
	 padding			: 0.2em 0.4em ; 
	 text-decoration	: none ;
	}

#subMenu li a:hover {
	 background-color: #faddba ;
	}

div.menuItem:hover #subMenu { 
	 display: block;
	}
*/
	
/* ---------------------- main section with content    --------------------------- */

/* -----  Hack, to fix IE's inability to handle position:fixed  ------------------ */
/* -----  Here: just the place holder                           ------------------ */
/*
*/	
#hintergrund { 
	 width:100%; 
	 height:100% ;
	 background : #CCDCDC ;
	 margin:0px 0px 0px 0px;
	 padding:0px 0px 0px 0px;
	 border:1px dashed green ;
	}

#content {
	margin:10px 210px 50px 180px;
	padding:30px 80px 30px 80px;
/*	border:1px dashed #999;  */
/*	background: #FF9966; */
/*	background: #DCDCDC ;  */
	background: white ;  
	}

#content-top {
	 position:relative;
	 padding:4px 8px 4px 8px;  
	 height:20px;
/*	 margin:10px 210px 50px 180px;
	 padding:30px 80px 30px 80px;  */
	 border:0px dashed #999;  
/*	 border:3px none #999999; */
	 border-bottom:1px solid #999999;
	 background: white ;
	}

#content-body {
	 position:relative;
/*	 margin:10px 210px 50px 180px; */
	 padding:8px 8px 8px 8px;  
	 border:0px dashed #999;
/*	 border:3px solid #999999; */
	 border-top:0px none #999999;
	 border-bottom:0px none #999999;
	 background: white ;
	}

#content-body>p {margin:0px;}
#content-body>p+p {text-indent:30px;}

#content-body>ul	{ 
	 list-style-type: circle;
	 margin			: 0.1em ; 
	 padding		: 1.5em ;
	 text-align		: left ;
	} 

#content-body>li	{
/*	 padding-left : 2em ;   */
	 margin:8px 0px 0px 0px;
	 padding:0px;

	} 


#content-bottom {
	 position:relative;
	 padding:4px 8px 4px 8px;  
	 height:20px;
/*	 margin:10px 210px 50px 180px;
	 padding:30px 80px 30px 80px;  */
	 border:0px dashed #999;  
/*	 border:3px solid #999999; */
	 border-top:1px solid #999999;
	 background: white ;
	}

		
/* ---------------------- Teaser box right side     --------------------------- */
#info {
	position: absolute;
	top: 215px;
	right: 8px;
	margin: 0px,5px,0px,0px; 
	padding: 5px 5px 5px 5px;
	width:180px;
	height:auto;
	}
	
#marginalia-top {
	position: absolute;
	top: 215px;
	right: 8px;
	margin: 0px,5px,0px,0px; 
	padding: 5px 5px 5px 5px;
/*	background-color:#feb; */
	background: url(/images/back.gif);  
/*	border:1px dashed #999;   */
	border-top :2px solid #FF0000;
	border-left:2px solid #FF0000;
	border-style : groove ;
	width:180px;
	height:auto;
	}
/* Again, "be nice to Opera 5". 
body>#marginalia-top {width:180px;} */

#marginalia-top p {margin:1px; color:green;}

#marginalia-top h1 {
	 text-align:left;
	 color:black;
	 font-size:11px;
	 font-weight:700;

	}


#marginalia-bottom {
	position: absolute;
	bottom: 30px;
	right: 8px;
	margin: 0px,5px,0px,0px; 
	padding: 5px 5px 5px 5px;
/*	background-color:#feb; */
	background: url(/images/back.gif);
/*	border:0px dashed #999;   */
	border:1px dashed #999;
	border-top :2px solid #FF0000;
	border-left:2px solid #FF0000;
	border-style : groove ;
	width:180px;
	height:auto;
	}
/* Again, "be nice to Opera 5". 
body>#marginalia-bottom {width:180px;} */

#marginalia-bottom p {margin:1px; color:red;}

#marginalia-bottom h1 {
	 margin: 0px 0px 5px 0px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	 font-weight:700;
	}

#marginalia-bottom dl {
	 margin: 0px 0px 0px 0px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	}
#marginalia-bottom dt {
	 margin: 0px 0px 0px 0px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	 font-weight:600;
	}
#marginalia-bottom dd {
	 margin: 0px 0px 0px 10px ; 
	 text-align:left;
	 color:black;
	 font-size:11px;
	 line-height:14px;
	}

#footer {
        text-align: center;
        white-space:nowrap;
        border-top: 1px solid #000;
        padding-top: 0.3em;
}
