/* Dieses CSS ist für alle Browser gedacht */

/* Erlaubte Techniken / Befehle:

   - HTML-Formate (CSS 1.0 - Standard, keine Wildcards)
   - Individualformate (#)
   - Klassendefinitionen (.)
   - Pseudoformate (:active...) nur für a
   - Postionsangaben absolute, relative, float, normal
   - Display-Angaben
   - Größenangaben width, height
   - float, clear, z-index
   - 

*/

/* Browserweiche für CSS 2.0 fähige Browser*/
@import url("chrome.css");

/* Standard-Einstellungen für HTML-Tags */
/* Text */
body {
	margin:  0px;
	padding: 0px;

	color: #000000;
	background-color: #ffffff;

	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size:   0.8em;
	
	line-height: 1.3em; 
}


h1 {
	margin:  0px 0px 15px 0px;
	padding: 0px;

	color: #cccccc;

	font-size:   2.4em;
	font-weight: 900;
	text-align:  right;
	line-height: 1em;
}

h2 {
	margin:  10px 0px;
	padding: 0px;

	color: #cccccc;

	font-size:   1.6em;
	font-weight: 500;
	line-height: 1em;

}

p {
	margin:  0px 0px 15px 0px;
	padding: 0px; 

	text-align: justify;
}

/* Tabellen */
table {
	margin : 10px 0px 5px 0px;
	border-width: 0px;
	border-color: #000066;
	border-style: solid;
}
	
th {
	color:            #000000;
	background-color: #ffffff;

	font-weight: bold;
	font-size:   1em;
	font-family: Verdana, Arial, Helvetica;
	line-height: 1.4em;
}
	
td {
	color:            #000000;
	background-color: #ffffff;

	font-weight: normal;
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica;
	line-height: 1.2em;
}

/* Listen */
li {
	margin:0px 0px 5px 0px;
	padding:0px;
}

/* Definitionslisten */
dl {
	margin: 0px;

	color: #000000;

	text-align:  left;
	font-size:   1em;
	line-height: 1.2em;
}

dt {
	margin: 0px;

	font-weight: 600;
}

dd {
	margin: 0px 0px 10px 50px;

	text-align: justifY;
}

a {
	color: #0099cc;

	f ont-size:       1em;
	text-decoration: none;
	font-weight:     600;
	font-family:     verdana, arial, helvetica, sans-serif;
}
	
a:link {
	color: #0099cc;
}

a:visited {
	color:#0077aa;
}

a:hover {
	background-color:#dddddd;
}

a img {
        border: none;
}


/* Spezielle styles für die barrierefreie Anzeige, werden von grafischen Browsern ausgeblendet*/
.hide {
	display: none;
}

.navHide {
	position: absolute;
	left:     -1000px;
	width:    990px;

	font-size:1px; 
}

/* Header */
#header {
	position: absolute;
	top:      0px;
	left:     0px;
	z-index:  10;

	height: 99px;
        width:  100%;

	margin:       0px;
	border-style: none;
	border-color: #ff0000;
	border-width: 0px;
	padding:      0px;

	display:           block;
	background-color:  #ffffff;
	background-image:  url("../../images/header_center.jpg");
        background-repeat: repeat-x;	
}

#header a img {
        border-style: 0px;
	border-color: #ff00ff;
	border-width: 0px;
}
	
#header div.logo {
        position: absolut;
        top:      0px; 
        left:     0px;
}

#header div.printlogo { /* Dieser Header wird nur beim Drucken angezeigt*/
        display:  none;
}

#header div.head {
        position: absolute; 
        top:      0px; 
        right:    0px;
}

/* Subheader für Breadcrumbs und Quicksearch */
#subheader {
	position: absolute;
	top:      99px;
	left:     120px;
	right:    0px;
	height:   25px; 
	z-index:  20;

	margin:     0px 8px 0px 0px;
	border:     none;
	border-top: 3px solid #ee0000;
	padding:    0px;

	display:          block;
	background-color: #ffffff;

	vertical-align:middle;
}

.breadcrumbs {
	float: left;

	margin: 2px 10px;
	border: none;
}

#quicksearch {
	float:  right;
	height: 100%;

	margin:  2px 5px 0px 20px;
	border:  none;
        padding: 0px;

	vertical-align: middle;
}

#quicksearch #box {
        margin:        0px;
        border:        none;
        border-bottom: 1px solid #999;
        padding:       0px;

        color:            #0099cc;
        background-color: #ffffff;

        font-size:   0.9em;
        font-weight: 600;
}

#quicksearch #go {
        margin-left:  2px;
        margin-right: 10px;
        border:       1px solid #cccccc;
        padding:      0px;

        color:            #4488ff;
        background-color: #f0f0f0;

        font-size:   0.6em;
        font-weight: bold;
}

/* Navigation */
#menu {
	position: absolute;
	top:      99px;
	left:     0px;
	z-index:  10;

	margin:      0px;  
	border:      0px dashed #999999;
	border-top:  0px;
	border-left: 0px;
	padding:     75px 5px 5px 5px;

	display:           block;
        background-color:  #ffffff;
	background-image:  url("../../images/menu.jpg");
	background-repeat: repeat-y;

/*	width: 163px; */
	width: 14em;
	f ont-size:   0.9em;
	font-weight: 700;
	line-height: 1.4em;
	text-align:  right;
}

#menuEnd {
        position: absolute;
        bottom: -25px;
        left:   0px;

        margin:  0px;
        border:  0px;
        padding: 0px;

        width: 120px;
}

#menu ul {
        margin:  0px;
        padding: 0px;

        list-style-type: none;
}

#menu li {
        margin:  0px;
        border:  1px solid inherit;
        padding: 0px;
}

#menu #formalia {
        width: 99px;
        padding-left: 4px;
        background-color: #ffffcc;

        text-align: left;
        line-height: 1.1em;
}

#menu #formalia a {
        font-size: 0.7em;
}

#menu #formalia img.top {
        position: relative;
        top: -3px;
        left: -6px;
}

#menu #formalia img.logo {
        float: left;
        margin-right: 3px;
}

#menu #formalia img.bottom {
        position: relative;
        bottom: -3px;
        left: -6px;
}

#menu #menulevel_1 {
        margin-top: 8px;
        border:     1px solid #dc0000;

        background-color: #dc0000;
}

#menu #menulevel_1.selected {
        border:     1px solid #ff3333;

        color:            #ffffff;
        background-color: #ff3333;
}

#menu #menulevel_1.contentLink {
        border:     1px solid #ff3333;

        color:            #ffffff;
        background-color: #dc0000;
}

#menu #menulevel_1 a {
        display: block;

        color:            #ffffff;
}

#menu #menulevel_1 a:hover {
        background-color: #ff3333;
}

#menu #menulevel_2 {
        margin-top: 2px;
        border:     1px solid #f7941d;

        background-color: #ff9966;
}

#menu #menulevel_2.selected {
        border:     1px solid #faddba;

        color:            #000000;
        background-color: #faddba;
}

#menu #menulevel_2.contentLink {
        border:     1px solid #faddba;

        color:            #000000;
        background-color: #ff9966;
}

#menu #menulevel_2 a {
        display: block;

        color:            #000000;
        ba ckground-color: #ff9966;
}

#menu #menulevel_2 a:hover {
        background-color: #faddba;
}

#menu #menulevel_3 {
        margin-top: 2px;
        border:     1px solid #fab74f;

        background-color: #ffcc99;
}

#menu #menulevel_3.selected {
        border:     1px solid #fdffed;

        color:            #000000;
        background-color: #fdffed;
}

#menu #menulevel_3.contentLink {
        border:     1px solid #fdffed;

        color:            #000000;
	background-color: #ffcc99;
}

#menu #menulevel_3 a {
        display: block;

        color:            #000000;
        ba ckground-color: #ffcc99;
}

#menu #menulevel_3 a:hover {
        background-color: #fdffed;
}


/* Footer */
#footer {
	position: absolute;
	bottom:   0px;
	left:     230px;
	right:    260px;
	z-index:  10;

	display:          block;
	background-color: #ffffff;

	margin: 50px 0px 0px 0px;
	border-top: 1px solid #000000;
	padding-top:    0.3em;
	padding-bottom: 10px;

	text-align:  center;
	white-space: nowrap;
}

/* Info */
#info {
	position: absolute;
	top:      158px;
	right:    8px;
	width:    180px;
	height:   auto;

	margin:  0px 5px 0px 0px; 
	padding: 5px 5px 5px 5px;

}
	
#info .fileAttachments {
        margin-bottom: 10px;
	background-color: #dddddd;
}

#info .associatedLinks {
        margin-bottom: 10px;
	background-color: #dddddd;
}

#info .news {
        margin-bottom: 10px;
        border: 1px outset #dd0000;
        background-color: #ffffcc;
}

#info .notes {
        margin-bottom: 10px;
        border: 1px outset #dd0000;
        background-color: #ffffcc;
        text-align: left;
        font-style: italic;
}

#info h2 {
	margin-top:    0px;
	padding-left:  5px;

	color:            #ffffff;
	background-color: #dd0000;

	font-size:   1em;
	font-weight: bold;
}
	
#info ul {
	margin:         0px;
	padding:        0px;
	padding-bottom: 5px;

	list-style-type: none;
}

#info li {
	margin-left:  10px;
	margin-right: 10px;

	font-size: 0.7em;
}

#info li li {
	margin-left: 10px;
	margin-right: 10px;

	font-size: 0.7em;
}

#info li a {
	font-size: 1.1em;
}

#info li a:hover {
	color:      #33aaff;
	background: inherit;
}

#events {
        margin-top: 20px;
        border-top: 1px solid #dd0000;
}

#events h2 {
        color: #dd0000;
        font-weight: bold;
        font-style: italic;
}

#events ul {
        list-style: none;
        text-indent: -3em;
}

#events li {
        margin-bottom: 1em;
}

#events .firstline {
        border-bottom: 1px dotted #dd0000;
}

.date {
        font-weight: bold;
}

.location {
        font-style: italic;
}

#events a {
        position: relative;
        top: 1px;
        font-size: 1.1em;
}

#events .intro {
        font-size: 0.9em;
        font-style: normal;
}

#events #intro {
font-size: 0.9em;
font-style: italic;
}

/* Content */
#content {
	margin:  130px 210px 50px 15em;
/*	border:  1px dashed #009900; */
	padding: 30px 50px;
}

/* Veranstaltungsort der Events: Rechtsbündig, rechts angeordnet under dem Bild, umfließend*/
#content #location {
        clear: both;
        float: right;
        width: auto;

        margin: 0.2em 0em 1em 0.5em;

        text-align: right;
}

#content #belowFloats {
        clear: both;
}

#content-top {
	position: relative;
	height:   20px;

	border:        none;
	border-bottom: 1px solid #999999;

	background-color: #ffffff;
}

#content-body {
	position: relative;

	border:  none;
	padding: 8px;  

	background-color: #ffffff;
}

#content-body p {
	margin: 0px;
}

#content-body p+p {
	text-indent: 30px;
}

#content-body ul { 
	margin:  0.1em ; 
	padding: 1.5em ;

	list-style-type: circle;
	text-align:      left;
} 

#content-body li {
	margin:  8px 0px 0px 0px;
	padding: 0px;
} 

#content-bottom {
	position: relative;
	height:   20px;

	border:     none;
	border-top: 1px solid #999999;
	padding:    4px 8px;  

	background-color: #ffffff;
}

/* Styles für Article und MultiPartArticle */
#lead {
	padding: 20px 0px;

	font-weight: bold;
	font-style:  italic;
}

#sectionList {
	border-top:    1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding:       3px 0px;

	background-color: #eeeeee;

	text-align: center;
}

#sectionList a:hover {
	color: #33aaff;
	}

#sectionList #caption {
	display: none;

	color: #999999;

	font-weight: bold;
	text-align:  right;
}

#mpaDirection {
	margin:        10px 0px;
	border-top:    1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;

	color:            #aaaaaa;
	background-color: #eeeeee;

	text-align: center;
}

#mpaDirection a {
	font-size: 1em;
}

#mpaDirection a:hover {
	color: #33aaff;
}

#image {
	float: right;
	width: 10em;

	margin:  0.2em 0em 0.5em 1em;
	border:  1px solid #cccccc;
	padding: 0em;
	
	color:             #000000;
	background-color:  #f0f0f0;
}

#image img {
        width: 10em;
        height: auto;
}

#image #caption {
        padding:  0.1em 0.5em;

        color:            #000000;
        background-color: #f0f0f0;

        font-size: 0.7em;
}

/* Style für die Index-Seiten */
#contentLinks {
	margin:        40px 0px 10px 0px;
	border-top:    1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

#contentLinks h2 {
	font-size: 1.2em;
	font-weight: bold;
}

#contentLinks ul {
	margin:         10px 0px;
/*	margin-bottom:  10px; */
	padding:        10px 0px;
/*	padding-bottom: 10px; */

	list-style-type: none;
}

#contentLinks #intro {
        display: block;

        margin:  0px 0px 15px 50px;
}




/* Styles für die A-Z Liste */
#azSub {
	font-weight: bold;
}

#azArea {
	border-bottom: 1px solid #cccccc;

	background-color: #eeeeee;

	text-align: center;
}

#azArea * span.letterSelected {
	color: #ee0000;

	font-weight: bold;
	text-transform: uppercase;
}

#azArea a:hover {
	color:            #33aaff;
	background-color: inherit;
}

#azInfo {
	padding: 10px 0px;
}

#azList {
	margin:        10px 0px;
	border-bottom: 1px solid #ccc;
	padding:       0px 0px 5px 0px;

	background-color: #eeeeee;
}

#azList h2 {
	color:            #999999;
	background-color: #dddddd;
}

#azList ul {
	margin:  10px 0px;
	padding: 0px 20px;

	list-style-type: none;
}

#azList a:hover {
	color:            #33aaff;
	background-color: inherit;
}

/* Style für die Suche */
#searchArea {
	margin: 10px 0px;

	background-color: #dddddd;
}

#searchArea #resultsInfo {
	font-size: 0.8em;
}

#searchArea #resultsInfo {
	font-size: 0.8em;
}

#searchArea #resultsInfo #searchTerm {
	font-weight: bold;
	font-style:  italic;
}

#searchArea form {
	margin:        10px 0px;
	border-top:    1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding:       5px;
}

#searchArea form #box {
	width: 80%;

	border:        none;
	border-bottom: 1px solid #000000;

	color:            #0099cc;
	background-color: #f0f0f0;
}

#searchArea form #go {
	margin-left:  2px;
	margin-right: 10px;
	border:       1px solid #cccccc;
	padding:      0px;

	color:            #4488ff;
	background-color: #f0f0f0;

	font-weight: bold;
}

#searchResult {
	margin: 10px 0px;

	color: #999999;

	font-size:   0.8em;
	font-weight: bold;
	text-align:  right;
}

#searchResult ul {
	margin: 10px 0px;
	padding: 0px 20px;

	list-style-type: square;
	font-weight:     normal;
	text-align:      left;
}

#searchResult ul li {
	margin-bottom: 10px;

	font-size: 1.2em;
}

#searchResult ul li span {
	padding-left: 30px;

	color: #666666;

	font-size: 0.8em;
}

#searchResultPage {
	position: relative;
	height:   20px;
	clear:    both;

	margin-bottom: 20px;
	border-top:    1px solid #cccccc;

	color:            #000000;
	background-color: #dddddd;

	font-size:   0.8em;
	font-weight: normal; 
	text-align:  center;
}

#searchResultPage #last {
	position: absolute;
	left: 0px;
	height: 100%;

	font-size:  1.2em;
	text-align: left;
	vertical-align: middle;
}

#searchResultPage #page {
	text-align: center;
}

#searchResultPage #next {
	position: absolute;
	right: 0px;
	height: 100%;

	font-size:  1.2em;
	text-align: right;
	vertical-align: middle;
}

/* Styles für die Sitemap*/
#sitemapArea {
	font-weight: bold;

	color:            #999999;
	background-color: #dddddd;
}

#sitemapArea #list {
	border-top: 1px solid #aaaaaa;

	background-color: #eeeeee;
}

#sitemapList {

}

#sitemapList a:hover {
	color:            #33aaff;
	background-color: inherit;
}

#sitemapList ul {
	margin:     20px 0px;
	border-top: 1px solid #aaaaaa;
	padding:    0px 0px;

	background-color: #eeeeee;
}

#sitemapList > ul > li {
	display: block;
	margin:  0px;
	padding: 0px;

	background-color: #dddddd;

	list-style-type: none;
}

#sitemapList ul li ul {
	margin:     0px;
	border-top: 1px solid #aaaaaa;
	padding:    0px 40px;
	
	color: #aaaaaa;
	background-color: #eeeeee;

}

#sitemapList > ul > li > ul > li {
	color:            #dddddd;
	background-color: #eeeeee;

	list-style-type: square;
}

#sitemapList ul li ul a {
	font-size: 0.8em;
}

#sitemapList #toTop {
	border-bottom: 1px solid #aaaaaa;

	text-align: right;
}

#sitemapList #toTop a {
	color: #33aaff;

	font-size: 0.8em;
}

/* Portal-Seite */
#portal {
	margin:  0px auto;
	padding: 0px;

	color: #000000;

	text-align: center;
}

#portal h1 {
	display:       block;
	margin:        10px 0px;
	border:        none;
	border-top:    2px solid #ee3333;
	border-bottom: 1px solid #ee3333;
	padding:       5px 0px 8px 0px;	

	color: #ffffff;
	background-color: #cc0000;

	text-align:     center;
	vertical-align: middle;

	font-family: Times, serif;
	font-weight: bold;
}

#portal img {
	margin: auto;
	border: none;
}

#portal #links {
	margin:     25px 0px;
	border-top: 1px solid #cccccc;
	padding:    5px 0px;

	color: #cccccc;

	font-weight: bold;
}

/* Formular */
form {
        color: #000000;
}

form #heading {
        margin: 1em 0em 0.5em 0em;

        color: #666666;

        font-size:    1.2em;
        font-weight:  bold;
}

form #text {
        margin: 1em 0em;
}

form #component {
        position: relative;

        width: 100%;

        margin: 0.5em 0em;
}

form #textfield {
        position: relative;

        display: inline;
}

form #label, form #title {
        color: #333399;

        font-weight: bold;
}

form #label {
        position: relative;

        display: inline;

        margin-right: 1em;

        text-align: left;
        font-size:  1.0em;
}

form #title {
        position: absolute;
        top:      -1.3em;

        border:   1px solid #999999;
        padding:  1px 5px;

        background-color: inherit;
}

form #label.mandatory, form #title.mandatory {
        color: #4488ff;
}

form #select #title {
        position: relative;
        top: -1.9em;
}

form input, form select {
        border:         none;
        border-bottom:  1px solid #999999;

        color:            #0099cc;
        background-color: #f0f0f0;

        vertical-align: top;
}

form select {
        float: left;
}

form select[multiple=true] {
        border: 1px solid #cccccc;
}

form #date select {
        float: none;
}

form input[type=text] {
        background-color: #eeeeee;
}

form #group , form #select , form #section{
        position: relative;

        margin:   2em 0em;
        border:   1px solid #999999;
        padding:  0.8em 1em;

        background-color: #f6f6f6;
}

form textarea {
        margin:   1.3em 0em 0em 0em;
        border:   1px solid #cccccc;
        padding:  1em 0.3em 0.3em 0.3em;

        color:            #0099cc;
        background-color: #eeeeee;
}

form #other {
        position: relative; /* Wird benötigt, damit der Titel an die richtige Position geschoben werden kann */
        float:    right;
        
        margin: 0em 0em 0.3em 0em;
}

form #textarea #title, form #other #title {
        position: absolute;
        top:      0em;
        left:     1em;

        border:   1px solid #999999;
        padding:  1px 5px;

        background-color: #eeeeee;

}

form #button {
        width: 100%;

        display: block;

        text-align: right;
}

form #button input {
        border: 1px solid #cccccc;
}

form hr {
        height: 1px;

        border-width: 1px 0px 0px;
        border-style: solid;

        color: #999999;
}

form #boxend { /* Dieser Style wird benötigt, um floating Boxes in die übergeordnete Box zu zwängen */
        display:  block;
        clear:    both;
}
