# ZeS devel application.cfg
#
# Das devel bundle enthält die Modul Zusammensetzung der aktuellen
# Entwicklungsversion und somit der *kommenden* ZeS Produktiv-Version
#
#
# Main apps
ccm-core
ccm-cms

# Content assets
ccm-cms-assets-fileattachment
ccm-cms-assets-imagestep
ccm-cms-assets-notes
ccm-cms-assets-relatedlink

# Content types
ccm-cms-types-address
ccm-cms-types-article
ccm-cms-types-bookmark
ccm-cms-types-contact
ccm-cms-types-event
ccm-cms-types-filestorageitem
ccm-cms-types-formitem
ccm-cms-types-formsectionitem
ccm-cms-types-mparticle
ccm-cms-types-newsitem
ccm-cms-types-person
ccm-cms-types-siteproxy
#  --  xmlfeed wird moeglicherweise ebenfalls nicht gebraucht
ccm-cms-types-xmlfeed

# Applications
# ------------
ccm-forum
ccm-portalworkspace
ccm-simplesurvey
ccm-themedirector
ccm-user-preferences

# ldn extensions
# --------------
ccm-ldn-navigation
ccm-ldn-rss
ccm-ldn-search
ccm-ldn-shortcuts
ccm-ldn-subsite
ccm-ldn-terms
ccm-ldn-util

# sci extensions
# --------------
ccm-cms-dabinimporter
ccm-sci-publications
ccm-sci-types-organization
# integration layer
ccm-zes-aplaws

