<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <display-name>Red Hat Content and Collaboration Management System</display-name>
    <description>
      This is the Java port of the ACS.
    </description>


    <!-- Context initialization parameters that define shared
         String constants used within your application, which
         can be customized by the system administrator who is
         installing your application.  The values actually
         assigned to these parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletContext().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of context initialization
         parameters, including zero.
    -->

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>webmaster@yourdomain.com</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>

    <servlet>
     <servlet-name>auth-servlet</servlet-name>
     <servlet-class>com.arsdigita.auth.ntlm.NTLMUserAuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
     <servlet-name>auth-servlet</servlet-name>
     <url-pattern>/auth</url-pattern>
    </servlet-mapping>
</web-app>
